<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <title>{% block title %}{% endblock title %}</title>
    <!--    https://www.w3schools.com/bootstrap5/index.php -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-5.3.7-dist/css/bootstrap.min.css') }}"/>
    <script src="{{ url_for('static', filename='bootstrap-5.3.7-dist/css/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap-5.3.7-dist/js/bootstrap.bundle.min.js') }}"></script>

    <!-- https://bootstrap.themes.guide/#themes -->
    <!-- https://stackoverflow.com/questions/25034812/use-a-css-stylesheet-on-a-jinja2-template/25034903 -->
    {% if session.theme is eq 'fresca' %}
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-themes/fresca-theme.min.css') }}"/>
    {% elif session.theme is eq 'herbie' %}
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-themes/herbie.theme.min.css') }}"/>
    {% else %}
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-themes/hootstrap.theme.min.css') }}"/>
    {% endif %}
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='static/bootstrap-themes/blue-voltage-theme.min.css') }}"/> -->
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='static/bootstrap-themes/boldstrap-theme.min.css') }}"/> -->
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='static/bootstrap-themes/bootstrap-purple-theme.min.css') }}"/> -->
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='static/bootstrap-themes/darkster.theme.min.css') }}"/> -->
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='static/bootstrap-themes/tequila.theme.min.css') }}"/> -->
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='static/bootstrap-themes/signal-theme.min.css') }}"/> -->

    <!-- <link href="/static/favicon.ico" rel="icon" type="image/x-icon" /> -->
    {% endblock head %}
</head>
<header>
    <!-- https://pythonbasics.org/flask-tutorial-routes/ -->
    <nav class="navbar navbar-expand-md navbar-light bg-primary mb-3">
        <a class="navbar-brand" href="#"><img src="/static/flask-icon.png" width="30" height="30" alt=""></a>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="/question1">Question1</a></li>
            <li class="nav-item"><a class="nav-link" href="/deutsch">Deutsch</a></li>
            <li class="nav-item"><a class="nav-link" href="/flex-question">Flex Question</a></li>
            <li class="nav-item"><a class="nav-link" href="/form-grid">Form Grid</a></li>
            <li class="nav-item"><a class="nav-link" href="/nouns-table-result">Nouns Result</a></li>
            <li class="nav-item"><a class="nav-link" href="/quiz">Quiz</a></li>
            <li class="nav-item"><a class="nav-link" href="/form-grid2">Form Grid 2</a></li>
            <li class="nav-item"><a class="nav-link" href="/radio-button">Radio</a></li>
            <li class="nav-item"><a class="nav-link" href="/form-example">Form Example</a></li>
            <li class="nav-item"><a class="nav-link" href="/json-form">JSON-form</a></li>
            <li class="nav-item"><a class="nav-link" href="/api/mongo-collections">Mongo Collections</a></li>
            <li class="nav-item"><a class="nav-link" href="/api/questions">Api Questions</a></li>
            <li class="nav-item"><a class="nav-link" href="/api/quizzes">API Quizzes</a></li>
            <li class="nav-item"><a class="nav-link" href="/api/mongo-collections">Mongo Collections</a></li>
            <li class="nav-item"><a class="nav-link" href="/api/user/<username>">API User</a></li>
            <li class="nav-item"><a class="nav-link" href="/api/question/<cif>/<quid>/">API Question</a></li>
            <li class="nav-item"><a class="nav-link" href="/api/question/<quid>">API Question</a></li>
            <li class="nav-item"><a class="nav-link" href="/api/quiz/<cif>/<quiz_id>/">API Quiz</a></li>
            <li class="nav-item"><a class="nav-link" href="/api/quiz/<quiz_id>">API Quiz</a></li>
            <li class="nav-item"><a class="nav-link" href="/api/runnable-com-users">Runnable Com Users</a></li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                   aria-expanded="false">Courses</a>
                <ul class="dropdown-menu">
                    <li class="dropdown-item"><a class="nav-link" href="/add-course">Add Course</a></li>
                    <li class="dropdown-item"><a class="nav-link" href="/courses">List Courses</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</header>
<body class="bg-primary">

<div class="container-fluid bg-primary">

    <main>
        <!--https://getbootstrap.com/docs/5.0/components/card/-->
        <div class="card bg-primary">
            <div class="card-body bg-primary">
                {% block card_title %}
                {% endblock card_title %}
                {% block card_body %}
                {% endblock card_body %}
            </div>
        </div>
    </main>

    <!--https://www.w3schools.com/bootstrap5/bootstrap_flex.php-->
    <!--https://getbootstrap.com/docs/5.1/getting-started/introduction/&ndash;&gt;-->
    <!--https://getbootstrap.com/docs/5.1/utilities/flex/&ndash;&gt;-->

    <footer class="bootstrap-classes">
        {% set bookworm = url_for('static', filename='bookworm.png') %}
        <div class="container text-left">
            <div class="row">
                <div class="col">
                    <p><small><i>version: 0.0.1</i></small></p>
                </div>
                <div class="col">
                    <p style="text-align:right">
                        <img class="img me-2" src="{{ bookworm }}" alt="Bookworm Logo" width="25" height="20">
                        <i>What do you want to learn today?</i>
                    </p>
                </div>
            </div>
        </div>
    </footer>
</div>
</body>
</html>
