{% extends "base.html" %}
{% block title %}Session Login{% endblock %}
{% block head %} {{ super() }} {% endblock %}
{% block card_title %}<h1>Session Login</h1>{% endblock %}
{% block card_body %}
<div class="container">
    <!--<form action="http://localhost:8081/json-form" target="_blank" method="post">-->
    <div class="row">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class="list-group">
            {% for message in messages %}
            <li class="list-group-item list-group-item-danger">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    </div>
    <div class="row">
        <form action="#" method="post">
            <div class="form-group">

                <div class="form-row">
                    <fieldset>
                        <label for="email">Email</label>
                        <input type="email" name="email" id="email"/>
                        <label for="password">Password</label>
                        <input type="password" name="password" id="password"/>
                    </fieldset>
                </div>

            </div>
            <button type="submit">Submit</button>
        </form>

    </div>
</div>


{% endblock %}