<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <title>{% block title %}{% endblock %}</title>
    <!--    https://www.w3schools.com/bootstrap5/index.php -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}"/>
    <script src="{{ url_for('static', filename='bootstrap.bundle.min.js') }}"></script>

    <!-- https://bootstrap.themes.guide/#themes -->
    <!-- https://stackoverflow.com/questions/25034812/use-a-css-stylesheet-on-a-jinja2-template/25034903 -->
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='blue-voltage-theme.min.css') }}"/> -->
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='boldstrap-theme.min.css') }}"/> -->
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-purple-theme.min.css') }}"/> -->
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='darkster.theme.min.css') }}"/> -->
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='fresca-theme.min.css') }}"/> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='hootstrap.theme.min.css') }}"/>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='signal-theme.min.css') }}"/> -->
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='tequila.theme.min.css') }}"/> -->
    <!-- <link href="/static/favicon.ico" rel="icon" type="image/x-icon" /> -->
    {% endblock %}
</head>
<body class="bg-primary">
<!-- https://pythonbasics.org/flask-tutorial-routes/ -->
<div class="container bg-primary">
    <nav class="navbar navbar-expand-md navbar-light bg-primary mb-3">
        <a class="navbar-brand" href="#"><img src="/static/flask-icon.png" width="30" height="30" alt=""></a>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="/data">Data</a></li>
            <li class="nav-item"><a class="nav-link" href="/question1">Question1</a></li>
            <li class="nav-item"><a class="nav-link" href="/flexquestion">Flex Question</a></li>
            <li class="nav-item"><a class="nav-link" href="/radiobutton">Radiobutton</a></li>
            <li class="nav-item"><a class="nav-link" href="/dropdown">Dropdown</a></li>
            <li class="nav-item"><a class="nav-link" href="/json-form">JSON-form</a></li>
            <li class="nav-item"><a class="nav-link" href="https://flask.palletsprojects.com/en/2.1.x/" target="_blank">About
                Flask</a></li>
        </ul>
    </nav>
    {% block heading %}
    {% endblock %}
    {% block body %}
    {% endblock %}

    <!--    https://stackoverflow.com/questions/51480958/bootstrap-4-footer-not-at-bottom -->
    <!--
        https://www.w3schools.com/bootstrap5/bootstrap_flex.php
        https://getbootstrap.com/docs/5.1/getting-started/introduction/
        https://getbootstrap.com/docs/5.1/utilities/flex/
    -->
    <footer class="d-flex justify-content-center mt-auto">
        <div class="d-flex justify-content-between col-md-8 col-md-offset-2 mb-3 mt-5">

            <p class="text-secondary">Version: 0.1.0</p>

            <a class="text-secondary" href="https://www.python.org/download/releases/2.0.1/license">
                © Python Software Foundation License (PSFL), Geoffrey Collis (sjfke)</a>
        </div>

    </footer>
</div>
</body>
</html>
