{% extends "base.html" %}
{% block title %}Dropdown{% endblock %}
{% block head %}<h1>Dropdown Page</h1>{% endblock %}
{% block body %}

<form>
    <div class="form-group">
        <table class="table table-dark table-striped w-auto">
            {% for item in data %}
            <tr>
                <td> {{ "Q.{:02d}".format(loop.index) }} </td>
                <td>
                    <select class="form-control" id="exampleFormControlSelect1">
                        <option> {{ item.Opt1 }}</option>
                        <option> {{ item.Opt2 }}</option>
                        <option> {{ item.Opt3 }}</option>
                    </select>
                </td>
                <td> {{ item.Noun }} </td>
                <td>Description: <em>{{ item.Desc  }}</em> </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</form>

{% endblock %}


