{% extends "base.html" %}
{% block title %}QuestionFlex{% endblock %}
{% block head %} {{ super() }} {% endblock %}
{% block heading %}<h1>QuestionFlex Page</h1>{% endblock %}
{% block body %}
<div class="d-flex flex-column bg-primary text-white">
    <div class="d-flex flex-row bg-primary text-black">
        <div class="p-2 border bg-info">Flex item bg-info</div>
        <div class="p-2 border align-self-stretch bg-warning">A very long text Flex item bg-warning</div>
        <div class="p-2 border bg-danger">Flex item bg-danger</div>
    </div>
    <div class="d-flex flex-row bg-primary text-black">
        <div class="p-2 border bg-info">Flex item bg-info</div>
        <div class="p-2 border align-self-stretch bg-warning">A very long text Flex item bg-warning</div>
        <div class="p-2 border bg-danger">Flex item bg-danger</div>
    </div>
    <div class="d-flex flex-row bg-primary text-black">
        <div class="p-2 border bg-info">Flex item bg-info</div>
        <div class="p-2 border align-self-stretch bg-warning">A very long text Flex item bg-warning</div>
        <div class="p-2 border bg-danger">Flex item bg-danger</div>
    </div>
</div>
{% endblock %}


