{% extends "base.html" %}
{% block title %}FormGrid{% endblock %}
{% block head %} {{ super() }} {% endblock %}
{% block heading %}<h1>FormGrid</h1>{% endblock %}
{% block body %}
<div class="container">
    <form action="/submission.html" method="post">
        <div class="row">
            <div class="col">
                <label for="IdRadio1L01" class="col-sm-2 col-form-label">Laptop</label>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name='NameRadioL01' id='IdRadio1L01' value="der">
                        <label class="form-check-label" for='IdRadio1L01'>der</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name='NameRadioL01' id='IdRadio2L01' value="die">
                        <label class="form-check-label" for='IdRadio2L01'>die</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name='NameRadioL01' id='IdRadio3L01' value="das">
                        <label class="form-check-label" for='IdRadio3L01'>das</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input type="text" readonly class="form-control-plaintext" id='IdNounL01' value="Laptop">
                    </div>
                </div>

            </div>
        </div>

        <div class="d-flex justify-content-center">
            <div class="btn-group" role="group" aria-label="Reset Submit">
                <button class="btn btn-primary btn-sm" type="reset">Reset</button>
                <button class="btn btn-info btn-sm" type="submit">Submit</button>
            </div>

        </div>
</div>

</form>

</div>
{% endblock %}
