{% extends "base.html" %}
{% block title %}Standard Lorem Ipsum{% endblock %}
{% block head %} {{ super() }} {% endblock %}
{% block card_title %}<h1>Standard Ipsum</h1>{% endblock %}
{% block card_body %}
<div class="container">
    {% if session.username %}
        Hi {{ session.username }} <a class="btn btn-dark" href="/logout">logout</a>
    {% else %}
        Please login <a class="btn btn-dark" href="/login">login</a>
    {% endif %}

    <hr class="border border-danger border-3 opacity-75">

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Egestas congue quisque egestas diam in arcu cursus. Viverra suspendisse potenti nullam ac. Nunc
        sed id semper
        risus in hendrerit gravida rutrum. Ornare arcu odio ut sem. Aenean euismod elementum nisi quis. Pulvinar sapien
        et ligula ullamcorper malesuada
        proin. Ultricies leo integer malesuada nunc. Arcu dui vivamus arcu felis bibendum ut tristique. Lorem mollis
        aliquam ut
        porttitor leo. Fringilla urna porttitor rhoncus dolor purus non enim praesent elementum. Amet consectetur
        adipiscing elit
        pellentesque habitant morbi tristique. Amet purus gravida quis blandit turpis cursus in. Arcu bibendum at varius
        vel pharetra vel. Dui sapien eget mi
        proin sed. Sapien pellentesque habitant morbi tristique senectus et netus et malesuada. Scelerisque felis
        imperdiet proin
        fermentum leo.</p>

    <p>Sagittis vitae et leo duis ut diam quam. Metus dictum at tempor commodo ullamcorper a.
        Luctus venenatis lectus magna fringilla urna porttitor rhoncus dolor purus. Tempor id eu nisl nunc.
        Egestas sed tempus urna et pharetra pharetra massa massa ultricies. Quisque id diam vel quam elementum pulvinar
        etiam non.
        Scelerisque eleifend donec pretium vulputate sapien nec sagittis. Scelerisque mauris pellentesque pulvinar
        pellentesque habitant morbi tristique.
        At erat pellentesque adipiscing commodo elit. Sed enim ut sem viverra aliquet eget sit.
        Diam volutpat commodo sed egestas egestas fringilla phasellus faucibus scelerisque.
        Metus dictum at tempor commodo ullamcorper a lacus. Lorem sed risus ultricies tristique nulla aliquet enim.
        Massa massa ultricies mi quis hendrerit dolor.
        Vestibulum morbi blandit cursus risus at ultrices. Pretium aenean pharetra magna ac placerat vestibulum.
        Elementum nisi quis eleifend quam adipiscing vitae proin.</p>

    <p>Viverra suspendisse potenti nullam ac tortor vitae purus faucibus. Fringilla est ullamcorper eget nulla facilisi
        etiam.
        Ipsum a arcu cursus vitae congue mauris rhoncus aenean vel. Vehicula ipsum a arcu cursus.
        Faucibus interdum posuere lorem ipsum dolor sit amet consectetur adipiscing. Scelerisque eu ultrices vitae
        auctor eu augue.
        Sed viverra ipsum nunc aliquet. Leo vel orci porta non pulvinar. Fermentum et sollicitudin ac orci phasellus.
        Sit amet dictum sit amet justo donec enim diam vulputate. Risus pretium quam vulputate dignissim.
        Nullam non nisi est sit amet facilisis magna etiam. Nibh tortor id aliquet lectus proin nibh. Eget arcu dictum
        varius duis.
        Odio facilisis mauris sit amet massa vitae. Scelerisque felis imperdiet proin fermentum.
        Morbi quis commodo odio aenean sed adipiscing. Posuere morbi leo urna molestie.</p>

    <p>Sit amet mattis vulputate enim nulla aliquet porttitor lacus. Egestas erat imperdiet sed euismod nisi porta lorem
        mollis.
        Elit ut aliquam purus sit amet luctus venenatis lectus magna. Amet risus nullam eget felis eget nunc lobortis.
        Scelerisque purus semper eget duis at tellus at urna condimentum. Amet commodo nulla facilisi nullam vehicula
        ipsum a arcu cursus.
        Sapien nec sagittis aliquam malesuada bibendum arcu vitae. Suspendisse sed nisi lacus sed viverra tellus. Nulla
        facilisi morbi tempus iaculis.
        Aliquam sem et tortor consequat id porta. Sit amet purus gravida quis.</p>

    <p>Vitae turpis massa sed elementum tempus egestas. Tincidunt id aliquet risus feugiat in ante metus dictum at.
        Venenatis lectus magna fringilla urna.
        Vitae justo eget magna fermentum. Nibh cras pulvinar mattis nunc sed blandit libero volutpat. Amet mauris
        commodo quis imperdiet massa tincidunt nunc.
        Aliquam etiam erat velit scelerisque in dictum non consectetur a. Tellus orci ac auctor augue mauris. Leo a diam
        sollicitudin tempor id eu nisl.
        Turpis egestas sed tempus urna et pharetra. Pretium aenean pharetra magna ac placerat. Eget egestas purus
        viverra accumsan in.
        Lacus suspendisse faucibus interdum posuere lorem ipsum dolor. Est lorem ipsum dolor sit amet consectetur
        adipiscing.
        At in tellus integer feugiat scelerisque. Tempus urna et pharetra pharetra massa massa ultricies.</p>
</div>
{% endblock %}